body{
    display:grid;
    justify-content: center;
    width: 90%;
  
  
  }
  div{
    
    background-color: rgb(215, 225, 235);
    
    
    
  }
  h1{
    padding: 40pxpx;
  }
  form{
    border: px;
    width: 250px;
    height: 250px;
    justify-content: center;
    margin: 50px;
    line-height: 25px;
  }